section {
  padding: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    margin-right: 10px;
  }
}

.info {
  display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  font-size: small;
  justify-content: space-around;

  &-item {
    display: flex;
    flex-direction: column;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.photo-card{
  width: 360;
  img{
    border-radius: 10px;
    width: 360;
  }
}

.load-more{
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;  
}

.is-hidden{
  visibility: hidden;
}